<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "アカウント設定","/users/show" %>
<%= link_to "プロフィール設定","/users/profile" %>
<%= link_to "ログアウト", destroy_user_session_path,method: :delete %>